body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
}

.calculator {
    border: 1px solid #444;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    background-color: #333;
}

.display input {
    width: 100%;
    height: 60px;
    border: none;
    background-color: #444;
    color: #eee;
    text-align: right;
    font-size: 2em;
    padding: 0 10px;
    box-sizing: border-box;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
}

button {
    height: 60px;
    border: none;
    background-color: #555;
    color: #eee;
    font-size: 1.5em;
    cursor: pointer;
}

button:hover {
    background-color: #666;
}

.operator {
    background-color: #f39c12;
    color: #fff;
}

.operator:hover {
    background-color: #e67e22;
}